<html lang="en">

    <head>

        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>Blog Post - Start Bootstrap Template</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="/css/blog-post.css" rel="stylesheet" />

    </head>

    <body>

        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <!-- Post Content Column -->
                <div class="col-lg-8">

                    <!-- Title -->
                    <h1 class="mt-4">{{posts.title}}</h1>

                    <!-- Author -->
                    <p class="lead">
                        by
                        <a href="#">{{posts.user.firstname}}</a>
                    </p>

                    <hr />

                    <!-- Date/Time -->
                    <p>Posted on {{generateTime posts.date "YYYY Do MMMM"}}</p>

                    <hr />

                    <!-- Preview Image -->
                    <img
                        class="img-fluid rounded"
                        src="/uploads/{{posts.file}}"
                        alt=""
                    />

                    <hr />

                    <!-- Post Content -->
                    {{posts.body}}

                    <hr />

                    {{#if posts.allowComments}}
                        <!-- Comments Form -->
                        <div class="card my-4">
                            <h5 class="card-header">Leave a Comment:</h5>
                            <div class="card-body">
                                <form
                                    action="/admin/comments"
                                    method="post"
                                    enctype="multipart/form-data"
                                >
                                    <div class="form-group">
                                        <textarea
                                            class="form-control"
                                            rows="3"
                                            name="body"
                                        ></textarea>
                                        <input
                                            type="hidden"
                                            name="post_id"
                                            value="{{posts.id}}"
                                        />
                                    </div>
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                    >Submit</button>
                                </form>
                            </div>
                        </div>
                    {{else}}
                        <h6>No comment for this post</h6>

                    {{/if}}

                    {{#each posts.comments}}
                        <!-- Single Comment -->
                        <div class="media mb-4">
                            <img
                                class="d-flex mr-3 rounded-circle"
                                src="http://placehold.it/50x50"
                                alt=""
                            />
                            <div class="media-body">
                                <h5 class="mt-0">{{user.firstname}}</h5>
                                {{body}}
                            </div>
                        </div>
                    {{/each}}
                    {{! 
                    <!-- Comment with nested comments -->
                    <div class="media mb-4">
                        <img
                            class="d-flex mr-3 rounded-circle"
                            src="http://placehold.it/50x50"
                            alt=""
                        />
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla
                            vel metus scelerisque ante sollicitudin. Cras purus
                            odio, vestibulum in vulputate at, tempus viverra
                            turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.

                            <div class="media mt-4">
                                <img
                                    class="d-flex mr-3 rounded-circle"
                                    src="http://placehold.it/50x50"
                                    alt=""
                                />
                                <div class="media-body">
                                    <h5 class="mt-0">Commenter Name</h5>
                                    Cras sit amet nibh libero, in gravida nulla.
                                    Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus odio, vestibulum in
                                    vulputate at, tempus viverra turpis. Fusce
                                    condimentum nunc ac nisi vulputate
                                    fringilla. Donec lacinia congue felis in
                                    faucibus.
                                </div>
                            </div>

                            <div class="media mt-4">
                                <img
                                    class="d-flex mr-3 rounded-circle"
                                    src="http://placehold.it/50x50"
                                    alt=""
                                />
                                <div class="media-body">
                                    <h5 class="mt-0">Commenter Name</h5>
                                    Cras sit amet nibh libero, in gravida nulla.
                                    Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus odio, vestibulum in
                                    vulputate at, tempus viverra turpis. Fusce
                                    condimentum nunc ac nisi vulputate
                                    fringilla. Donec lacinia congue felis in
                                    faucibus.
                                </div>
                            </div>

                        </div>
                    </div> }}

                </div>

                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Search</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Search for..."
                                />
                                <span class="input-group-btn">
                                    <button
                                        class="btn btn-secondary"
                                        type="button"
                                    >Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <div class="row">
                                {{#each category}}
                                    <div class="col-lg-6">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <a href="#">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                {{/each}}

                            </div>
                        </div>
                    </div>

                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Side Widget</h5>
                        <div class="card-body">
                            You can put anything you want inside of these side
                            widgets. They are easy to use, and feature the new
                            Bootstrap 4 card containers!
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

        <!-- Bootstrap core JavaScript -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>

    </body>

</html>